:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --title-fon-color: #F5F5F5;
    --button-color: #F5F4FA;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3 {
    margin: 0px;
}

ul,
ol {
    margin: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

button {
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;

}

header {
    border-bottom: 1px solid #ececec;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: #212121;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

